.row-copy {
  padding-right: 5px;
}

.row-name {
  font-weight: 500;
}

.row-due,
.row-notes {
  font-size: var(--fs-xs-1);
}

.row-notes {
  display: flex;
}

.paid {
  font-size: var(--fs-xs-1);
  padding: 2px 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white-light);
  background: linear-gradient(122deg, var(--grey-dark) 62%, var(--red-dark) 62%);
  border-radius: var(--br-sml);
  box-shadow: var(--bs-secondary);
}

.btns {
  display: flex;
  padding: 0 var(--space-xs-3);

  & > *:first-of-type {
    margin-right: 2px;
  }

  & > * {
    transform: translateY(0px);
    transition: all .2s;
  }

  & > *:hover {
    cursor: pointer;
    transform: translateY(-1px);
  }

  & > *:active {
    transform: translateY(0px);
  }
}