<p class="row-copy row-name">{{ item.name }}</p>
<p class="row-copy row-amount">{{ item.amount | currency }}</p>
<p class="row-copy row-remaining" *ngIf="item.remaining">{{ item.remaining | currency }}</p>
<p class="row-copy row-remaining" *ngIf="!item.remaining"><s>{{ item.remaining | currency }}</s></p>
<p class="row-copy row-due">{{ item.due.seconds | formatDate }}</p>
<p class="row-copy row-notes">{{ item.notes }}</p>
<p class="row-copy category-container">
  <span class="category">{{ item.category }}</span>
  <span *ngIf="!item.remaining" class="paid">PAID</span>
</p>
<div class="btns">
  <ng-container *ngIf="isEditable">
    <app-solo-icon
      [appIconSize]="1.2"
      [iconName]="'ellipsisHorizontal'"
      [attr.data-test]="'edit-expense-btn-' + index"
      (click)="onEditExpense(item)"
    ></app-solo-icon>
    <app-solo-icon
      [appIconSize]="1.2"
      [iconName]="'closeCircle'"
      (click)="onDeleteExpense(item)"
    ></app-solo-icon>
  </ng-container>
</div>
