<div class="overlay" (click)="closeModal()"></div>
<form
  class="modal"
  *ngIf="modal$ | async as modal"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="modal__main">
    <app-solo-icon
      [iconName]="'closeCircle'"
      [appIconSize]="1.6"
      class="modal__main--close"
      (click)="closeModal()"
    ></app-solo-icon>
    <h2 class="modal__main--title">{{ modal.title }}</h2>
    <div class="modal__main--fieldsets">
      <app-fieldset
        *ngFor="let fieldset of modal.fieldsets"
        [legend]="fieldset.name"
        [ngStyle]="{
          height: fieldset.button && 'min-content'
        }"
      >
        <ng-container
          *ngFor="let input of fieldset.inputs"
          [ngSwitch]="input.type"
        >
          <!-- The docs with *ngSwitchCase expressions don't work to group cases like a regular switch can it seems. Hurray Angular. -->

          <!-- Text Input -->
          <ng-template ngSwitchCase="text">
            <app-text-input
              [attr.formControlName]="input.formControlName"
              [label]="input.label"
              [placeholder]="input.placeholder"
              [hidden]="input.hidden"
              [type]="input.type"
              [formControlName]="input.formControlName"
            ></app-text-input>
          </ng-template>

          <!-- Date Input -->
          <ng-template ngSwitchCase="date">
            <app-text-input
              [attr.formControlName]="input.formControlName"
              [label]="input.label"
              [placeholder]="input.placeholder"
              [hidden]="input.hidden"
              [type]="input.type"
              [formControlName]="input.formControlName"
            ></app-text-input>
          </ng-template>

          <!-- Select Input -->
          <ng-template ngSwitchCase="select">
            <app-select-input
              [attr.formControlName]="input.formControlName"
              [label]="input.label"
              [placeholder]="input.placeholder"
              [hidden]="input.hidden"
              [formControlName]="input.formControlName"
              [options]="input.options || []"
            ></app-select-input>
          </ng-template>
        </ng-container>

        <div class="btn-container" [ngStyle]="{ padding: '0' }">
          <button
            *ngIf="fieldset.button"
            [disabled]="fieldset.button.type === 'primary' && !form.valid"
            [type]="fieldset.button.type === 'primary' ? 'submit' : 'button'"
            (click)="fieldset.button.clickFn && fieldset.button.clickFn()"
            class="btn"
            [ngClass]="{
              'btn-primary': fieldset.button.type === 'primary',
              'btn-neutral': fieldset.button.type === 'neutral'
            }"
            [attr.data-test]="fieldset.button.dataTest"
          >
            {{ fieldset.button.buttonText }}
          </button>
        </div>
      </app-fieldset>
    </div>

    <!-- Icon between fieldsets -->
    <div class="modal__main--icon" *ngIf="modal.icon">
      <app-solo-icon
        [iconName]="modal.icon.iconName"
        [appIconSize]="modal.icon.iconSize"
      ></app-solo-icon>
    </div>
  </div>

  <!-- Content -->
  <ul class="modal__main--content-list">
    <li *ngFor="let item of modal.contentList" class="category-container">
      <span class="category">{{ item }}</span>
    </li>
  </ul>

  <div class="modal__btns">
    <button
      *ngFor="let button of modal.modalButtons"
      [disabled]="button.type === 'primary' && !form.valid"
      [type]="button.type === 'primary' ? 'submit' : 'button'"
      (click)="button?.clickFn && button?.clickFn()"
      class="btn"
      [ngClass]="{
        'btn-primary': button.type === 'primary',
        'btn-neutral': button.type === 'neutral'
      }"
      [attr.data-test]="button.dataTest"
    >
      {{ button.buttonText }}
    </button>
  </div>
</form>
