.container {
  // border: 1px solid red;
  width: 100%;
  padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-med) ;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__heading {
    font-size: var(--fs-sml);
    font-weight: 500;
    text-transform: capitalize;
  }

  & a {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--br-med);
    transition: all .2s;
  }

  & a:hover {
    background: rgba(0, 0, 0, 0.4);

    & app-icon {
      cursor: pointer;
      
     }
  }
}

