<p class="row-copy row-name">{{ expense.name }}</p>
<p class="row-copy row-amount">{{ expense.amount | currency }}</p>
<p class="row-copy row-remaining">{{ expense.remaining | currency }}</p>
<p class="row-copy row-due">{{ expense.due }}</p>
<p class="row-copy row-notes">{{ expense.notes }}</p>
<p class="row-copy"><span class="row-category">{{ expense.category }}</span></p>
<div class="btns">
  <app-solo-icon [appIconSize]="1.2" [iconName]="'ellipsisHorizontal'" [attr.data-test]="'edit-expense-btn-' + index" (click)="onEditExpense(index)"></app-solo-icon>
  <app-solo-icon [appIconSize]="1.2" [iconName]="'closeCircle'"></app-solo-icon>
</div>