.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--space-xs-1);
  border-radius: var(--br-lrg);
  background: var(--grey-light);

  & > * {
    font-size: var(--fs-xs-1);
  }
}
