.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--space-xs-1);
  text-align: center;

  & > *:not(:last-child) {
    font-size: var(--fs-xs-1);
  }

  &__amount {
    font-weight: 500;
  }

  &__date {
    font-size: var(--fs-xs-2);
  }
}
