<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <app-fieldset [legend]="type">

    <!-- EMAIL -->
    <app-text-input
      formControlName="email"
      [label]="'Email'"
      [type]="'email'"
      [feedBackMsg]="feedbacks['email']"
      [showFeedback]="email?.invalid && email?.dirty"
      data-test="email"
    ></app-text-input>

    <!-- PASSWORD -->
    <app-text-input
      *ngIf="!isReset"
      formControlName="password"
      [label]="'Password'"
      [type]="'password'"
      [feedBackMsg]="feedbacks['password']"
      [showFeedback]="password?.invalid && password?.dirty"
      data-test="password"
    ></app-text-input>


    <!-- CONFIRM PASSWORD -->
    <app-text-input
    *ngIf="isSignUp"
    formControlName="confirmPassword"
    [label]="'Confirm Password'"
    [type]="'password'"
    [feedBackMsg]="feedbacks['confirmPassword']"
    [showFeedback]="confirmPassword?.dirty && !passwordMatches"
    data-test="password-confirm"
    ></app-text-input>

    <!-- BUTTONS -->
    <div class="btn-container">
      <!-- SIGN IN -->
      <button
        *ngIf="!isReset"
        class="btn btn-primary btn-sign-in"

      
        type="submit"


        routerLink="app/overview"
        data-test="submit"
      >
        {{ type }}
      </button>

      <!-- RESET -->
      <button
        *ngIf="isReset"
        class="btn btn-primary btn-sign-in"
        type="submit"
        [disabled]="isLoading"
        data-test="submit"
      >
        {{ type }}
      </button>

      <!-- GOOGLE -->
      <button
        *ngIf="isSignIn"
        class="btn btn-primary btn-sign-in btn-google"
        type="button"
        appGoogleSignin
        data-test="submit-google"
      >
        GOOGLE SIGN IN
      </button>
    </div>

    <!-- FORM LINK NAVIGATION -->
    <button
      type="button"
      class="btn-link"
      *ngIf="isSignIn"
      (click)="changeType('Sign Up')"
      data-test="new-account"
    >
      Don't Have An Account Yet?
    </button>

    <button
      type="button"
      class="btn-link"
      *ngIf="isSignUp"
      (click)="changeType('Sign In')"
      data-test="existing-account"
    >
      I Have An Account
    </button>

    <button
      type="button"
      class="btn-link"
      *ngIf="isSignIn"
      (click)="changeType('Reset')"
      data-test="password-reset"
    >
      Forgot Your Password?
    </button>

    <button
      type="button"
      class="btn-link"
      *ngIf="isReset"
      (click)="changeType('Sign In')"
    >
      Back To Sign In
    </button>
  </app-fieldset>

  <p *ngIf="errorMessage" class="feedback">{{errorMessage}}</p>
</form>
