<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <app-fieldset [legend]="type">

    <!-- EMAIL -->
    <app-text-input
      formControlName="email"
      [controlName]="email"
      [label]="'Email'"
      [type]="'email'"
      [valid]="email?.valid && email?.dirty"
      [invalid]="!email?.valid && email?.dirty"
      [feedBackMsg]="feedbacks['email']"
      [showFeedback]="email?.invalid && email?.dirty"
    ></app-text-input>

    <!-- PASSWORD -->
    <app-text-input
      *ngIf="!isReset"
      formControlName="password"
      [controlName]="password"
      [label]="'Password'"
      [type]="'password'"
      [valid]="password?.valid && password?.dirty"
      [invalid]="password?.dirty && password?.invalid"
      [feedBackMsg]="feedbacks['password']"
      [showFeedback]="password?.invalid && password?.dirty"
    ></app-text-input>


    <!-- CONFIRM PASSWORD -->
    <app-text-input
    *ngIf="isSignUp"
    formControlName="confirmPassword"
    [controlName]="confirmPassword"
    [label]="'Confirm Password'"
    [type]="'password'"
    [valid]="confirmPassword?.dirty && passwordMatches"
    [invalid]="confirmPassword?.dirty && !passwordMatches"
    [feedBackMsg]="feedbacks['confirmPassword']"
    [showFeedback]="confirmPassword?.dirty && !passwordMatches"
  ></app-text-input>

    <!-- BUTTONS -->
    <div class="btn-container">
      <!-- SIGN IN -->
      <button
        *ngIf="!isReset"
        class="btn btn-primary"
        type="submit"
        [routerLink]="['/overview']"
      >
        {{ type }}
      </button>

      <!-- RESET -->
      <button
        *ngIf="isReset"
        class="btn btn-primary"
        type="submit"
        [disabled]="isLoading"
      >
        {{ type }}
      </button>

      <!-- GOOGLE -->
      <button
        *ngIf="isSignIn"
        class="btn btn-google"
        type="button"
        appGoogleSignin
        [routerLink]="['/overview']"
      >
        GOOGLE SIGN IN
      </button>
    </div>

    <!-- FORM LINK NAVIGATION -->
    <button
      type="button"
      class="btn-link"
      *ngIf="isSignIn"
      (click)="changeType('Sign Up')"
    >
      Don't Have An Account Yet?
    </button>

    <button
      type="button"
      class="btn-link"
      *ngIf="isSignUp"
      (click)="changeType('Sign In')"
    >
      I Have An Account
    </button>

    <button
      type="button"
      class="btn-link"
      *ngIf="isSignUp"
      (click)="changeType('Reset')"
    >
      Forgot Your Password?
    </button>

    <button
      type="button"
      class="btn-link"
      *ngIf="isReset"
      (click)="changeType('Sign In')"
    >
      Back To Sign In
    </button>
  </app-fieldset>

  <p *ngIf="errorMessage" class="feedback">{{errorMessage}}</p>
</form>
