<form>
  <app-fieldset [legend]="'Sign Up'">
    <div>
      <label for="email">Email</label>
      <input id="email" type="email">
    </div>
  
    <div>
      <label for="password">Password</label>
      <input id="password" type="password">
    </div>

    <div>
      <label for="confirm">Confirm Password</label>
      <input id="confirm" type="password">
    </div>

    <button type="button" class="fieldset-btn" (click)="hasAccount()">I Have An Account</button>
    
  </app-fieldset>
</form>