<app-logo [remSize]="4.5"></app-logo>

<div class="icons">
  <app-icon class="icon"
  [iconName]="'calendar'"
  [remSize]="2"
  [alt]="'To overview page'"
  [label]="'Overview'"
  [navOpen]="true"
  (click)="onPageNameChange('overview')"
  [routerLink]="['overview']"
></app-icon>

  <app-icon class="icon"
  [iconName]="'cash'"
  [remSize]="2"
  [alt]="'Pay bill'"
  [label]="'Pay bill'"
  [navOpen]="true"
  (click)="onPageNameChange('pay bill')"
  [routerLink]="['paybill']"
></app-icon>

  <app-icon class="icon"
  [iconName]="'peopleCircle'"
  [remSize]="2"
  [alt]="'To accounts page'"
  [label]="'Accounts'"
  [navOpen]="true"
  (click)="onPageNameChange('accounts')"
  [routerLink]="['accounts']"
></app-icon>

  <app-icon class="icon"
  [iconName]="'swap'"
  [remSize]="2"
  [alt]="'Transfer between accounts'"
  [label]="'Transfer'"
  [navOpen]="true"
  (click)="onPageNameChange('transfer')"
  [routerLink]="['transfer']"
></app-icon>
</div>
