@import '../styles.scss';

:host ::ng-deep app-sign-in-page {
  height: 85vh;
  width: 80%;
}

:host ::ng-deep app-nav-wrap {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: $bp-lrg) {
  :host ::ng-deep app-sign-in-page {
    height: min-content;
  }
}

@media only screen and (max-width: $bp-med) {
  :host ::ng-deep app-nav-wrap {
    display: block;
  }
}