:host ::ng-deep .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--space-xs);
}


:host ::ng-deep .input {
  margin-bottom: 6px;
}