.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & > *:nth-child(1) {
    width: 10%;
  }
  padding: var(--space-xs-2);
}

.caro-title {
  font-weight: 500;
  font-size: var(--fs-xs-1);
  text-align: center;
}

.caro-body {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}