.caro-body {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  &__title {
    font-weight: 500;
    font-size: var(--fs-xs-1);
    text-align: center;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

  }

  &__controls {
    display: flex;
    justify-content: space-around;
    width: 15%;
  }
}

.fade-left {
  position: absolute;
  width: 5rem;
  height: 100%;
  left: 0;
  background: linear-gradient(to right, rgba(251,251,251,1), 50px, rgba(136,139,136,0));
}

.fade-right {
  position: absolute;
  width: 5rem;
  height: 100%;
  right: 0;
  background: linear-gradient(to left, rgba(251,251,251,1), 70px, rgba(136,139,136,0));
}

app-solo-icon {
  border-radius: var(--br-med);
  background: transparent;
  transition: all .2s;
  cursor: pointer;
}

app-solo-icon:hover {
  background: var(--grey-light);
}
