.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & > *:nth-child(1) {
    width: 10%;
  }
  padding: var(--space-xs-2);
}

.caro-title {
  font-weight: 500;
  font-size: var(--fs-xs-1);
  text-align: center;
}

.caro-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

.fade-left {
  position: absolute;
  width: 5rem;
  height: 100%;
  left: 0;
  background: linear-gradient(to right, rgba(251,251,251,1), 50px, rgba(136,139,136,0));
}

.fade-right {
  position: absolute;
  width: 5rem;
  height: 100%;
  right: 0;
  background: linear-gradient(to left, rgba(251,251,251,1), 70px, rgba(136,139,136,0));
}
