.accts {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    align-self: flex-end;
  }

  &__btn:hover {
    filter: brightness(105%);
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--space-med);
    padding:var(--space-xs) 0 var(--space-med) 0;
  }
}