
<form>
  <app-fieldset [legend]="'Sign In'">

    <div>
      <label for="email">Email</label>
      <input id="email" type="email">
    </div>
  
    <div>
      <label for="password">Password</label>
      <input id="password" type="password">
    </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">SIGN IN</button>
      <button class="btn btn-primary" type="submit">GOOGLE</button>
    </div>

    <button type="button" class="btn-link" (click)="hasAccount()">Don't Have An Account Yet?</button>
    
  </app-fieldset>
</form>