svg {
  height: inherit;
  width: inherit;
}

.rain-slow {
  animation: rain .56s infinite linear;
}

.rain-med-slow {
  animation: rain .5s infinite linear;
}

.rain-med {
  animation: rain .46s infinite linear;
}

.rain-fast {
  animation: rain .41s infinite linear;
}


@keyframes rain {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }

  75% {
    transform: translateY(55px);
    opacity: 0.8;
  }

  100% {
    transform: translateY(60px);
    opacity: 0;
  }
}