:root {
// Colors
--primary-light: #359f4e;
--primary-dark: #096C1F;

--white-light: #fefefe;
--white-dark: #fbfbfb;
--black: #070907;
--grey-dark: #4d4f4d;
--grey-light: #888b88;

--red-dark: #be1f10;
--red-light: #fac7c2;
--orange-dark: #9d5726;
--orange-light: #f7e7dc;
--yellow-dark: #9d9626;
--yellow-light: #f7f5dc;

// Fonts
--font-primary: "Poppins", sans-serif;
--fs-xxl: 5.653rem;
--fs-xl: 3.998rem;
--fs-lrg: 2.827rem;
--fs-med: 1.99rem;
--fs-sml: 1.414rem;
--fs-xs: 1rem;
--fs-xs-1: 0.75rem;
--fs-xs-2: 0.5rem;
--fs-xs-3: 0.25rem;

// Spacing
--space-xxl: 5.653rem;
--space-xl: 3.998rem;
--space-lrg: 2.827rem;
--space-med: 1.99rem;
--space-sml: 1.414rem;
--space-xs: 1rem;
--space-xs-1: 0.75rem;
--space-xs-2: 0.5rem;
--space-xs-3: 0.25rem;

// Box Shadows
--bs-primary: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
--bs-primary-light: rgba(250, 250, 250, 0.4) 0px 2px 8px 0px;

--bs-secondary: rgba(117, 117, 117, 0.4) 0px 2px 2px 0px;
--bs-secondary-light: rgba(250, 250, 250, 0.2) 0px 2px 2px 0px;

--bs-tertiary: rgba(99, 99, 99) 0px 5px 40px 15px;

// Border Radius
--br-lrg: 7px;
--br-med: 5px;
--br-sml: 3px;


}

// Breakpoints
$bp-xxl: 75em; /* 1200px */
$bp-xl: 56.25em; /* 900px */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 125%;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}



h1 {
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

app-top-bar {
  position: relative
}

app-loading {
  position: absolute;
  top: 13rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

// Forms

form {
  overflow: hidden;
}

fieldset {
  height: 100%;
  border: 1px solid var(--grey-dark);
  border-radius: var(--br-med);
  padding: var(--space-xs-1);
  display: flex;
  flex-direction: column;
  position: relative;
}

legend {
  margin: 0 auto;
  font-weight: 300;
}

label {
  display: block;
  letter-spacing: 1px;
  margin: var(--space-xs-3) 0 1px 0;
}

input,
select {
  font-family: var(--font-primary);
  width: 100%;
  height: 1.6rem;
  border-radius: var(--br-sml);
  outline: 1px solid transparent;
  border: 1px solid var(--grey-dark);
  padding-left: 8px;
  color: var(--grey-dark);
  transition: all .2s;
}

input::placeholder {
  color: inherit;
  transition: all .1s;
}

input:focus {
  outline: 1px solid var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

input:focus::placeholder {
  color: transparent;
}

select {
  -moz-appearance:none; 
  -webkit-appearance:none; 
  appearance:none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-image: url("data:image/svg+xml;utf8,<svg style='transform: rotate(90deg);' xmlns='http://www.w3.org/2000/svg' fill='black' height='20' viewBox='0 0 512 512'><path fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M184 112l144 144-144 144'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 5px;
  cursor: pointer;
}

select:focus {
  outline: 1px solid var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

input[type='date'] {
  font-family: var(--font-primary);
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

// Form Validation

.valid {
  outline: 1px solid var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.invalid {
  outline: 1px solid var(--red-dark);
  border: 1px solid var(--red-dark);
}

.invalid-feedback {
  color: var(--red-dark);
  font-size: var(--fs-xs-1);
}

// Buttons

:host ::ng-deep .btn {
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
  display: block;
  border: none;
  border-radius: var(--br-lrg);
  font-weight: 500;
  cursor: pointer;
}

:host ::ng-deep .btn-primary {
  color: white;
  box-shadow: 0px 0px 14px -7px var(--primary-light);
  background: var(--primary-light);
}

:host ::ng-deep .btn-primary:hover {
  box-shadow: var(--bs-secondary);
  filter: brightness(105%);
}

:host ::ng-deep .btn-neutral {
  color: var(--white-light);
  box-shadow: 0px 0px 14px -7px var(--primary-light);
  background: var(--grey-dark);
}

:host ::ng-deep .btn-neutral:hover {
  box-shadow: var(--bs-secondary);
  background: var(--grey-light);
}

:host ::ng-deep .btn-danger {
  color: var(--white-light);
  background: var(--red-dark);
}

:host ::ng-deep .btn-danger:hover {
  box-shadow: var(--bs-secondary);
  filter: brightness(1.1);
}

:host ::ng-deep .btn-black {
  color: var(--white-light);
  background: var(--black);
}

:host ::ng-deep .btn-black:hover {
  box-shadow: var(--bs-secondary);
  filter: opacity(90%);
}

:host ::ng-deep .btn-sign-in {
  margin: 6px;
  background-size: 115% auto;
  background-image: linear-gradient(45deg, var(--primary-dark) 0%, var(--primary-light)  51%, var(--primary-dark)  100%);
}

:host ::ng-deep .btn-sign-in:hover {
  background-position: right top;
  box-shadow: var(--bs-primary);
}

:host ::ng-deep .btn-google {
  background-image: linear-gradient(45deg, var(--black) 0%, var(--grey-dark)  51%, var(--black)  100%);
}

:host ::ng-deep .btn-primary:active {
  transform: scale(0.98);
}

:host ::ng-deep .btn-link {
  font-size: var(--fs-xs-1);
  color: var(--primary-light);
  align-self: center;
  margin-top: auto;
  margin-bottom: 6px;
  cursor: pointer;
  text-decoration: underline;
  background: transparent;
  border: none;
}

:host ::ng-deep .btn-link:hover {
  color: var(--primary-dark);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//  Icons 
app-solo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  transform: translateY(0);
  transition: all .1s;
}

button:active {
  transform: translateY(1px);
}

// Category Tags

.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs-3)
}

.category {
  font-size: var(--fs-xs-1);
  padding: 2px 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white-light);
  background: linear-gradient(122deg, var(--grey-dark) 62%, var(--primary-light) 62%);
  border-radius: var(--br-sml);
  box-shadow: var(--bs-secondary);
}
