<div class="bills">
  <div class="bills__btns">
    <div class="bills__btns--filter"></div>
    <button class="btn-primary">Transfer</button>
    <button class="btn-primary">Add Bill</button>
  </div>
  <div class="bills__table">
    <div class="bills__table--header">
      <p>Bill</p>
      <p>Amount</p>
      <p>Remaining</p>
      <p>Due</p>
      <p>Notes</p>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
  </div>
</div>