<div class="bills">
  <div class="bills__btns">
    <button class="btn btn-primary" data-test="pay-bill-btn" (click)="onPayBill()">Pay Bill</button>
    <button class="btn btn-primary" data-test="add-bill-btn" (click)="onAddBill()">Add Bill</button>
  </div>
  <div class="bills__table">
    <div class="bills__table--header">
      <p>Bill</p>
      <p>Amount</p>
      <p>Remaining</p>
      <p>Due</p>
      <p>Notes</p>
    </div>
   <app-bills-row *ngFor="let bill of bills; let i = index;" [index]="i"></app-bills-row>
   
  </div>
</div>