<div class="card">
  <div *ngIf="isBudgetCard" class="card__budget-btns">
    <app-solo-icon
      [appIconSize]="0.9"
      [iconName]="'ellipsisHorizontal'"
      [attr.data-test]="'edit-acct-btn-' + index"
      (click)="onEditAcct(index)"
    ></app-solo-icon>
    <app-solo-icon
      [appIconSize]="0.9"
      [iconName]="'closeCircle'"
    ></app-solo-icon>
  </div>
  <div class="card__heading">
    <p class="card__heading--available">Available Balance</p>
    <div class="card__heading--acct-info">
      <h3 class="card__heading--acct-info-name">{{ account.acctName }}</h3>
      <p class="card__heading--acct-info-type">({{ account.acctType[0].toUpperCase() + account.acctType.slice(1) }})</p>
    </div>
  </div>
  <div class="card__balance">
    <p class="card__balance--amount">${{ account.acctBalance.toFixed(2) }}</p>
  </div>
  <div class="progress-container">
    <div class="card__progress" *ngIf="account.acctLimit">
      <p class="card__progress--title">Used</p>
      <div class="card__progress--bar">
        <progress
          class="progress"
          [value]="account.acctBalance"
          [max]="account.acctLimit"
        ></progress>
      </div>
      <p class="card__progess--spend">
        ${{ account.acctBalance }} / ${{ account.acctLimit }}
      </p>
    </div>
  </div>
</div>
