<div class="card">
  <div class="card__heading">
    <p class="card__heading--available">Available Balance</p>
    <h3 class="card__heading--acct-name">Visa</h3>
  </div>
  <div class="card__balance">
    <p class="card__balance--amount">$6594</p>
  </div>
  <!-- *ngIf -->
  <div class="card__progress">
    <p class="card__progress--title">Used</p>
    <div class="card__progress--bar">
      <div class="bar-container">
        <div class="progress"></div>
      </div>
    </div>
    <p class="card__progess--spend">
      $3456 / $9834
    </p>
  </div>
</div>