.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 10rem;
  padding: var(--space-sml) var(--space-xs-1) var(--space-xs-1) var(--space-xs-1);
  border-radius: var(--br-lrg);
  box-shadow: var(--bs-primary);
  background: var(--white-dark);
  position: relative;
  background: linear-gradient(122deg, var(--white-dark) 62%, rgba(53, 159, 78, 0.10) 62%);

  &__budget-btns {
    position: absolute;
    display: flex;
    top: 5px;
    right: var(--space-xs-1);
    align-items: center;
    gap: 2px;

    & > * {
      transform: translateY(0px);
      transition: all .2s;
    }

    & > *:hover {
      cursor: pointer;
      transform: translateY(-1px);
    }

    & > *:active {
      transform: translateY(0px);
    }

  }

  &__heading {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--available {
      font-weight: 300;
    }

    &--acct-info {
      display: flex;
      flex-direction: column;
      align-items: end;

      &-name {
        font-size: var(--fs-xs-1);
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      &-type {
        font-size: var(--fs-xs-2);
        font-weight: 200;
      }
    }

  }

  &__balance {
    font-size: var(--fs-sml);
    width: 100%;

    &--amount {
    margin-left: var(--space-sml);
    }
  }

  & .progress-container {
    width: 100%;
  }

  & .card__progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > *:not(:nth-child(2)) {
      font-size: var(--fs-xs-1);
    }

    &--bar {
      width: 100%;
      margin: .1rem 0 .2rem 0;
    }
    &--spend {
      height: 2rem;
    }
  }

  & progress {
    width: 100%;
    height: .5rem;
    border: 1px solid var(--black);
    border-radius: var(--br-lrg);
    overflow: hidden;


    & .progress {
      width: 70%;
      height: 100%;
    }
  }

  & progress::-webkit-progress-bar {
    background-color: var(--white-dark);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25) inset;
    overflow: hidden;
  }
}