<div *ngIf="!isLoading">
  <div class="budget-period-select">
    <app-select-input
      [label]="'Budget Period'"
      [options]="periodOptions"
    ></app-select-input>
  </div>

  <div class="chart-grid">
    <app-arc-chart [maxValue]="stats.netWorth" [maxLabel]="'$' + stats.netWorth.toFixed(0)"></app-arc-chart>
    <div class="total-avail">
      <p>Total Available</p>
      <span>$5000</span>
    </div>
  </div>

  <div class="overall">
    <div class="overall__item net">
      <p>Net Worth</p>
      <span>${{stats.netWorth.toFixed(2)}}</span>
    </div>
    <div class="overall__item credit-cards">
      <p>Credit Cards</p>
      <span>${{stats.creditCards.toFixed(2)}}</span>
    </div>
    <div class="overall__item loans">
      <p>Loans</p>
      <span>${{stats.loans.toFixed(2)}}</span>
    </div>
    <div class="overall__item projected">
      <p>Projected</p>
      <span>${{stats.projected.toFixed(2)}}</span>
    </div>
  </div>

  <div class="accts">
    <app-acct-card></app-acct-card>
    <app-acct-card></app-acct-card>
    <app-acct-card></app-acct-card>
  </div>

  <div class="upcoming">
    <div>
      <h3 class="upcoming__title">Upcoming</h3>
    </div>
    <app-table [listItems]="expenses" [isEditable]="false"></app-table>
  </div>
</div>
