.period-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: var(--space-xs);
    gap: var(--space-xs-2);
}

.budget-period-select {
  display: flex;
  justify-content: flex-end;
  padding-bottom: var(--space-xs-2);

  & > app-select-input {
    width: 11rem;
  }
}

:host ::ng-deep app-select-input label {
  font-size: var(--fs-xs-1);
  text-align: end;
  margin: var(--space-xs-3) 0;
}

.chart-grid {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .total-avail {
    display: flex;
    gap: var(--space-sml)
  }
}

.overall {
  margin: var(--space-lrg) auto var(--space-sml) auto;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;

  & > * {
    width: calc(45%);
    display: flex;
    gap: var(--space-xs-1);

    & p {
      font-weight: 300;
      font-size: var(--fs-xs);
      margin-right: var(--space-xs);
      width: 50%;
    }

    & span {
      font-weight: 500;
    }
  }
}

.accts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--space-med);
  padding: var(--space-med) 0;
}

.upcoming {
  padding: var(--space-med) 0;
  width: 100%;
}

