

<div class="budget-period-select">
  <app-select-input [label]="'Budget Period'" [options]="['Mar 1, 2023 - Mar 15, 2023', 'Mar 16, 2023 - Mar 31, 2023']"></app-select-input>
</div>

<div class="pie-grid">
  <ngx-charts-pie-grid
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [designatedTotal]="1000"
  [label]="'Budget'"
  *ngFor="let category of testCategories">
</ngx-charts-pie-grid>
</div>

<div class="overall">
  <div class="overall__item net">
    <p>Net Worth</p>
    <span>$5000</span>
  </div>
  <div class="overall__item credit-cards">
    <p>Credit Cards</p>
    <span>$5000</span>
  </div>
  <div class="overall__item total-avail">
    <p>Total Available</p>
    <span>$5000</span>
  </div>
  <div class="overall__item loans">
    <p>Loans</p>
    <span>$5000</span>
  </div>
  <div class="overall__item projected">
    <p>Projected</p>
    <span>$10000</span>
  </div>
</div>

<div class="accts">
  <app-acct-card></app-acct-card>
  <app-acct-card></app-acct-card>
  <app-acct-card></app-acct-card>
</div>

<div class="upcoming">
  <div>
    <h3 class="upcoming__title">Upcoming</h3>
  </div>
  <app-table [listItems]="[0, 1, 2, 3, 4]" [isEditable]="false"></app-table>
</div>
