@import '../../../../../styles.scss';

.table {
  min-height: 100%;
  width: 100%;
  border: 1px solid var(--grey-dark);
  border-radius: var(--br-med);
  box-shadow: var(--bs-secondary);
  overflow: hidden;

  & > * {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)) minmax(0, 2fr) minmax(0, 1fr) 3rem;
    align-items: center;
    padding: 0 var(--space-xs);
    border-bottom: 1px solid var(--grey-light);
  }

  & > .table__header:first-of-type  {
    border-bottom: none;
  }

  &__header {
    width: 100%;
    background: var(--grey-dark);
    height: 2.5rem;
    color: var(--white-light);
    font-weight: 300;

    & > * {
      padding: var(--space-xs-3);
    }
  }

  & > app-table-row:last-of-type  {
    border-bottom: none;
  }

  & > app-table-row {
    width: 100%;
    min-height: 3rem;
  }

  & > app-table-row:nth-of-type(even) {
    background: #f2f2f2;
  }
  
}

@media only screen and (max-width: $bp-xl) {
  .table {
    &__header {
      overflow-wrap: break-word;
    }
  }
  
}

@media only screen and (max-width: $bp-lrg) {
  .table {
    &__header {
      font-size: var(--fs-xs-1);
    }
  }
  
}